<h1>L'Association YOGA T.U.V.B.</h1>
<md-tab-group>
  <md-tab>
    <template md-tab-label>Qui sommes-nous ?</template>
    <template md-tab-content>
      <md-card>
        <md-card-title-group>
          <img md-card-md-image src="/assets/img/yoga6.jpg" alt="Yoga">
          <md-card-title color="primary">L'Association YOGA T.U.V.B.</md-card-title>
          <md-card-subtitle>A Verrières-le-buisson (91370), venez découvrir le Yoga.</md-card-subtitle>
        </md-card-title-group>
        <md-card-content>
            <br/>
            <p>La section YOGA dépend de l'Association TUVB - "Le Trait d'Union" Club omnisport de Verrières-le-Buisson,</p>
            <p>Présidente de la section Yoga: Danielle Métreau</p>
            <p>Les cours sont assurés par des professeurs agréé.
            <a routerLink="/teachers" routerLinkActive="active-link">Découvrez les professeurs du club.</a>
            </p>

      </md-card-content>
      </md-card>
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>Vous inscrire</template>
    <template md-tab-content>
      <md-card>
        <md-card-title-group>
          <img md-card-md-image src="/assets/img/yoga6.jpg" alt="Yoga">
          <md-card-title>Voulez-vous vous inscrire ?</md-card-title>
          <md-card-subtitle>Faites votre inscription en ligne en créant votre profile ou connectez-vous.</md-card-subtitle>
        </md-card-title-group>
        <md-card-content>
              <p>Si vous possédez déjà un compte n'en créer pas un deuxième ;-)</p>
              <p>Toutes les informations de profiles sont stockée de façon sécurisée.</p>
              <p>Une fois connecté(e) avec votre profile, vous pourrez accéder à votre espace personnalisé, vos cours.</p>

              <p>Si vous préférez vous inscrire par courrier vous trouvez la
                <a href="http://yoga.tuvb.free.fr/imprime.pdf">fiche d'inscription ici.</a>
              </p>

        </md-card-content>
        <md-card-actions>
              <button md-raised-button>LIKE</button>
              <button md-raised-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </template>
  </md-tab>
</md-tab-group>



