<md-card>
  <md-toolbar color="primary">Créez votre profile</md-toolbar>
  <md-card-content>
    <br/>
    <p class="error">{{errorMessage}}</p>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <md-input style="width: 100%" placeholder="Votre email" type="text" name="email" (ngModel)="email" required></md-input>
      <br/>
      <md-input style="width: 100%" placeholder="Votre password" type="password" name="password" (ngModel)="password" required></md-input>
      <br/>
      <button md-raised-button type="submit" class="md-primary btn btn-primary" ng-disabled="!formData.valid">OK</button>
      <button md-raised-button type="button" (click)="cancel(formData)" class="md-primary btn btn-primary">Cancel</button>
      <!--<a routerLink="/signup">Don't have an account?</a>-->
    </form>
  </md-card-content>
</md-card>
