<md-card>
  <md-toolbar color="primary">Connectez-vous</md-toolbar>
  <md-card-content>
    <br/>
    <p class="error">{{errorMessage}}</p>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <md-input style="width: 100%" placeholder="Votre email" type="text" name="email" (ngModel)="email" required></md-input>
      <br/>
      <md-input style="width: 100%" placeholder="Votre password" type="password" name="password" (ngModel)="password" required></md-input>
      <br/>
      <button md-raised-button type="submit" class="md-primary btn btn-primary" ng-disabled="!formData.valid">Submit</button>
      <button md-fab (click)="googleLogin" class="md-primary btn btn-primary" ng-disabled="!formData.valid">Google</button>
      <a routerLink="/signup">Vous n'avez pas de compte ?</a>
    </form>
  </md-card-content>
</md-card>
