<md-card>
  <md-card-title-group>
    <img md-card-md-image src="/assets/img/yoga6.jpg" alt="Yoga">
    <md-card-title color="primary">Les cours et leurs horaires</md-card-title>
    <md-card-subtitle>A Verrières-le-buisson (91370), venez découvrir le Yoga.</md-card-subtitle>
  </md-card-title-group>
  <md-card-content>
    <p>Attention, les cours n'ont pas lieu durant les vacances scolaires.</p>
    <table border="1" width="100%">
      <thead>
        <tr>
          <td width="42%" colspan="3">
            <p align="center">MATIN</p>
          </td>
          <td width="44%" colspan="3">
            <p align="center">APRES MIDI</p>
          </td>
        </tr>
        <tr>
          <td width="16%">
            <p align="center">Horaire</p>
          </td>
          <td width="16%">
            <p align="center">Professeur</p>
          </td>
          <td width="9%">
            <p align="center">Durée</p>
          </td>
          <td width="16%">
            <p align="center">Horaire</p>
          </td>
          <td width="14%">
            <p align="center">Professeur</p>
          </td>
          <td width="11%">
            <p align="center">Durée</p>
          </td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td width="17%">
            <p align="center">Lundi 10h à 11h</p>
          </td>
          <td width="16%">
            <p align="center">Sylvie</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="14%">
            <p align="center">&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Lundi 11h à 12h</p>
          </td>
          <td width="16%">
            <p align="center">Sylvie</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%">
            <p align="center">Lundi 20h à 21h</p>
          </td>
          <td width="14%">
            <p align="center">Isabelle</p>
          </td>
          <td width="11%">
            <p align="center">1h</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Mardi 9h à 10h</p>
          </td>
          <td width="16%">
            <p align="center">Françoise</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%">
            <p align="center">Mardi 17h à 18h</p>
          </td>
          <td width="14%">
            <p align="center">Sylvie</p>
          </td>
          <td width="11%">
            <p align="center">1h</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Mar10h15 à 11h15</p>
          </td>
          <td width="16%">
            <p align="center">Françoise</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%">
            <p align="center">Mar 18h15 à 19h45</p>
          </td>
          <td width="14%">
            <p align="center">Benoit</p>
          </td>
          <td width="11%">
            <p align="center">1h30</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="16%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="9%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="19%">
            <p align="center">Mar 19h45 à 20h45</p>
          </td>
          <td width="14%">
            <p align="center">Benoit</p>
          </td>
          <td width="11%">
            <p align="center">1h</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Mer 10h à 11h</p>
          </td>
          <td width="16%">
            <p align="center">Isabelle</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%">
            Mercredi 17h à 18h (cours pour enfants)</td>
          <td width="14%">
            <p align="center">Benoit</p>
          </td>
          <td width="11%">
            <p align="center">1h</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            &nbsp;</td>
          <td width="16%">
            &nbsp;</td>
          <td width="9%">
            &nbsp;</td>
          <td width="19%">
            <p align="center">Mercredi 20h à 21h</p>
          </td>
          <td width="14%">
            <p align="center">Isabelle</p>
          </td>
          <td width="11%">
            <p align="center">1h</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            &nbsp;</td>
          <td width="16%">
            &nbsp;</td>
          <td width="9%">
            &nbsp;</td>
          <td width="19%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="14%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="11%">
            <p align="center">&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Jeudi 10h à 11h</p>
          </td>
          <td width="16%">
            <p align="center">Sylvie</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%" align="center">
            Jeudi 18h à 19h</td>
          <td width="14%" align="center">
            Benoit</td>
          <td width="11%" align="center">
            1h</td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Jeudi 11h à 12h</p>
          </td>
          <td width="16%">
            <p align="center">Sylvie</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%" align="center">
            Jeudi 19h à 20h30</td>
          <td width="14%" align="center">
            Benoit</td>
          <td width="11%" align="center">
            1h30</td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Vend 10h à 11h</p>
          </td>
          <td width="16%">
            <p align="center">Sylvie</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%" align="center">
            Vend 18h à 19h</td>
          <td width="14%">
            <p align="center">Benoit</p>
          </td>
          <td width="11%" align="center">
            1h</td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Vend 11h à 12h</p>
          </td>
          <td width="16%">
            <p align="center">Sylvie</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%">
            <p align="center">Vendredi 19h à 20h30</p>
          </td>
          <td width="14%">
            <p align="center">Benoit</p>
          </td>
          <td width="11%">
            <p align="center">1h30</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Sam 9h à 10h</p>
          </td>
          <td width="16%">
            <p align="center">Benoit</p>
          </td>
          <td width="9%">
            <p align="center">1h</p>
          </td>
          <td width="19%" align="center">
            <p align="center">&nbsp;</p>
          </td>
          <td width="14%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="11%">
            <p align="center">&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td width="17%">
            <p align="center">Sam 10h à 11h30</p>
          </td>
          <td width="16%">
            <p align="center">Benoit</p>
          </td>
          <td width="9%">
            <p align="center">1h30</p>
          </td>
          <td width="19%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="14%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="11%">
            <p align="center">&nbsp;</p>
          </td>
        </tr>
      </tbody>
    </table>

  </md-card-content>
  <md-card-actions>
    <button md-raised-button>LIKE</button>
    <button md-raised-button>SHARE</button>
  </md-card-actions>
</md-card>
