
/* You can add global styles to this file, and also import other style files */
/* Master Styles */
/*@import '@angular/material/core/theming/prebuilt/indigo-pink.css';*/

body {
  margin: 0;
  min-width: 800px;
  
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

