<md-card>
  <md-card-title-group>
    <img md-card-md-image src="/assets/img/yoga6.jpg" alt="Yoga">
    <md-card-title color="primary">Bienvenue sur le site  YOGA  T.U.V.B.</md-card-title>
    <md-card-subtitle>A Verrières-le-buisson (91370), venez découvrir le Yoga.</md-card-subtitle>
  </md-card-title-group>
  <md-card-content>
      <br/>
      <p>Le yoga peut être pratiqué à tous les ages. La maîtrise du corps, la pratique de postures, le subtile contrôle de la respiration apportent des bienfaits au physique et au mental.
      C’est un excellent moyen de détente pour lutter contre le stress quotidien. C’est aussi une bonne manière de se prendre en charge afin de toujours rester jeune et en bonne forme.</p>
      <p>Cours de 10 personnes maximum</p>
      <p>Cours pour enfants de 6 à 11 ans</p>
      <p>Nous vous attendons…</p>
  </md-card-content>
  <md-card-actions>
      Renseignements
        <button md-button><a href="tel:+33169817536">01 69 81 75 36</a></button>
        <button md-button><a href="emailto:yoga@tuvb.fr">yoga@tuvb.fr</a></button>
   </md-card-actions>
</md-card>

<md-card>
   <md-card-title>Voulez-vous vous inscrire ?</md-card-title>
   <md-card-subtitle>Faites votre inscription en ligne en créant votre profile ou connectez-vous.</md-card-subtitle>
   <md-card-content>
        <p>Si vous possédez déjà un compte n'en créer pas un deuxième ;-)</p>
        <p>Toutes les informations de profiles sont stockée de façon sécurisée.</p>
        <p>Une fois connecté(e) avec votre profile, vous pourrez accéder à votre espace personnalisé, vos cours.</p>
   </md-card-content>
   <md-card-actions>
        <button md-raised-button>LIKE</button>
        <button md-raised-button>SHARE</button>
   </md-card-actions>
</md-card>
